name: Security Scan

on:
  schedule:
    - cron: '0 0 * * 0' # Run weekly on Sundays

jobs:
  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Install dependencies
        run: |
          go mod download

      - name: Run gosec
        run: |
          make gosec

      - name: Run security scan
        run: |
          make govulncheck
